# Ignore log zip archive
access.log.zip

# Ignore assignment description PDF
HamAmooz_task.pdf

# Ignore macOS metadata directories
__MACOSX/
access.log/__MACOSX/
**/__MACOSX/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore generated output charts
*.png

# Ignore generated output reports
*.txt
*.json


